@import './_tailwind.scss';
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');


* {
  scroll-behavior: smooth;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Scroll-Bar */
::-webkit-scrollbar {
  width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
  // background-color: #bfbebe21;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}